    <!-- ! Footer -->
    <footer class="footer">
      <div class="container footer--flex">
        <div class="footer-start">

        </div>
        <ul class="footer-end">

 
         <div class="modal fade" id="staticBackdropss" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
           <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header" style="margin-left: 60px;">
               <center><h5>TERMS AND CONDITIONS OF USE</h5></center>
               </div>
               <div class="modal-body" style="text-align: justify;">
                   <center><h5>Welcome to Mediko! By accessing or using the Service you agree to be bound by our Terms and Conditions.
                     </h5>
                     <br>
                     <h5>Here is a quick summary of the highlights of our Terms of Service:</h5>
                     <br>
                     <h5>This platform only allows you to connect with your patient
                       and to help you set appointment and prescription to patient.</h5>
                     <br>
                     <h5>You own the content that you add. You also grant this platform certain rights and license to identify you. 
                       All information that you have submitted should be either owned by you or rights have 
                       been granted to you. Please read our privacy policy for more information on how we handle your data.</h5>
                     <br>
                     <h5>All information that you have submitted does not violate on the intellectual property
                       rights of others. By using our product, you verify that you are physically; and mentally 
                       able to use our product. And knowingly accept and is aware of all the risk associated with their
                       use.</h5>
                       <br>
                     <h5>These Terms and Conditions apply to all visitors, users and others who access or use the Service. If
                       you disagree with any part of the terms then you may not access the Service.</h5></center>
               </div>
               <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
           </div>
           </div>
       </div>
 
         <button type="button" class="btn" style="background-color: transparent;" data-toggle="modal" data-target="#staticBackdrops">
           Policy For Grading
         </button>
 
         <div class="modal fade" id="staticBackdrops" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
           <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header" style="margin-left: 140px;">
               <center><h5>POLICY FOR GRADING</h5></center>
               </div>
               <div class="modal-body">
                   <center><h5>Protecting your privacy is important to us. We hope, the following message will 
                     help you understand how we deal with the Personal Identifiable Information.</h5>
                     <br>
                     <h5>How we collect and Use your information</h5>
                     <br>
                     <h5>Personal Information you provide:
                     We collect the following information you provide when you use our Services like when
                     you request and sign up for an account, send an appointment, send a prescription or otherwise communicate with us.</h5>
                     <br>
                     <h5>We will never use such information for any other purposes, such as to further market 
                     our products, or to disclose your information to a third party for application gains.</h5>
                     <br>
                     <h5>You can send us your feedback or bug report immediately, it is completely voluntary initiative 
                     upon your own decision. If you have concerns about your personal information being
                     misused, feel free to contact us through this email admin@gmail.com, we will provide
                     clear answer to your question in a timely manner. Thank you!</h5></center>
               </div>
               <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
           </div>
           </div>
       </div>
 
 
         <button type="button" class="btn" style="background-color: transparent;" data-toggle="modal" data-target="#staticBackdropsss">
           About
         </button>
 
         <div class="modal fade" id="staticBackdropsss" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
           <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                 <center><img src="/img/icon-logo.png" alt="Logo" style="width: 50%;"></center>
               </div>
               <div class="modal-body">
                   <center><h5>The “Mediko” is a web and mobile app design for medication reminder and online medical
                     consultation scheduler for both patient and doctor. The doctor can set appointment and send a prescription 
                     to the requesting patient. “MediKo” was formulated from the words 'Medication'
                     for Med, information for 'I' and 'self' for Ko. This application was developed by BSIT students for 
                     their capstone project.</h5></center>
               </div>
               <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
           </div>
           </div>
       </div>
 
        </ul>
      </div>
    </footer>
  </div>
 
 
  <script src="/plugins/feather.min.js"></script>
  <script src="/js/script.js"></script>
  <script>
 
    var  months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    var d = new Date();
    var monthName=months[d.getMonth()]+'-'+d.getDate()+'-'+d.getFullYear()+'-'+d.toLocaleTimeString();
 
    document.getElementById("p1").innerHTML = monthName;
 
    </script>
  </body>
 </html>